body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: steelblue;
    margin: 0px;
    user-select: none;
}

main {
    background-image: linear-gradient(lightskyblue,steelblue);
    border-bottom: 3px solid rgb(54, 102, 141)
}

nav {
    border-bottom: 3px solid dodgerblue;
    text-align: center;
    padding: 15px;
}

nav a {
    font-size: 20px;
    padding: 7px;
    text-decoration: none;
    border: 3px solid dodgerblue;
    border-radius: 20px;
    color: dodgerblue;
}

nav a:hover {
    color: steelblue;
    border: 3px solid steelblue;
    transition: 1s linear;
    padding: 8px;
    font-size: 22px;
    border-radius: 25px;
}

.vk {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 15px;
    top: 43%;
}

.git {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 15px;
    bottom: 43%;
}

h1, h2, li, div a {
    color: dodgerblue;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

div {
    margin-bottom: 300px;
}

main a img:hover {
    transform: scale(1.1);
    transition: 1s ease-out;
}

div a:hover {
    font-size: 22px;
    font-weight: bolder;
}

div a {
    font-size: 17px;
    font-weight: normal;
    margin-left: 70px;
}

nav a:not(:hover) {
    color: dodgerblue;
    border: 3px solid dodgerblue;
    transition: 1s linear;
    padding: 7px;
    font-size: 20px;
    border-radius: 20px;
}

main a img:not(:hover) {
    transform: scale(1);
    transition: 1s ease-out;
}
